/* Set the font and background for the HTML element */
html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f5f5f5;
}

/* Set the max width and center the body element */
@keyframes loading {
  0% {
    cy: 10;
  }

  25% {
    cy: 3;
  }

  50% {
    cy: 10;
  }
}

body {
  background-color: #f4f7ff;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', serif;
  margin: 0;
  padding: 0;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', serif;
  font-style: italic;
  font-weight: 700;
  color: #e1e2e2;
}

/* Style the main heading */
h1 {
  font-family: Georgia, Times, serif;
  font-size: 2.5rem;
  color: #ececec;
  margin: 1rem 0;
  text-align: center;
}

/* Style links */
a {
  color: #377ba8;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: #d0e7f3;
}

#aHover:hover {
  background-color: #ffffff;
}

/* Style the horizontal rule */
hr {
  border: none;
  border-top: 1px solid #dcdcdc;
  margin: 2rem 0;
  color: #fff;
}

/* Style the navigation bar */
.white-text {
  color: #fdfdfd;
}

nav {
  background-image: linear-gradient(to bottom right, #2d2d2f, #737375);
  display: flex;
  align-items: center;
  padding: 1rem;
}

/* Style the navigation bar heading */
nav h1 {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: #fdfdfd;
  flex-basis: 50%;
  text-align: left;
}

/* Style the navigation bar unordered list */
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-basis: 50%;
  justify-content: flex-end;
}

/* Style the navigation bar unordered list item */
nav ul li a,
nav ul li span,
header .action {
  display: block;
  padding: 0.5rem;
}



.content {
  content: '';
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #2d2d2f, #737375);
  opacity: 1;
}

/* Style the content header */
.content>header {
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2rem;
}

/* Style the content header heading */
.content>header h1 {
  margin: 0;
  margin-left: 15px;
  font-size: 2rem;
  font-weight: bold;
  color: #fffefe;
  text-align: left;
}

/* Style the flash messages */

.flash {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #a3ccdb;
  border-radius: 5px;
}

.flash-error {
  background: #ff2525;
}

.flash-success {
  background: #3e8e41;
}

/* Style the post */
.post>header {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* Style the post header */
.post>header>div:first-of-type {
  flex: auto;
}

/* Style the post header heading */
.post>header h1 {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: bold;
}

/* Style the post body */
.post .body {
  margin: 1rem 0;
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
}

/* Style the content form */
.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

/* Style the content label */
.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
  font-size: 1rem;
  color: #f0f0f5;
}

/* Style the content input and textarea */
.content input,
.content textarea {
  margin-bottom: 1em;
  padding: 0.5em;
  border: none;
  background-color: #f9f9f9;
  border-radius: 5px;
}

/* Style the content textarea */
.content textarea {
  min-height: 12em;
  resize: vertical;
}

/* Style the danger input */
input.danger {
  color: #cc2f2e;
}

/* Style the submit input */
input[type=submit] {
  align-self: start;
  min-width: 10em;
  background-color: #377ba8;
  color: #fff;
  border-radius: 5px;
  padding: 0.5em;
  border: none;
  transition: all 0.3s ease;
}

input[type=submit]:hover {
  background-color: #6eb8de;
}

#stockH:hover {
  background-color: #2b2a2a;
}

table {
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}



/* Style the logout button */
.logout-btn {
  background-color: #cc2f2e;
  color: #fff;
  border-radius: 5px;
  padding: 0.5em;
  border: none;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #e57373;
  cursor: pointer;
}

/* Style the pagination links */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.pagination li {
  margin: 0 0.5rem;
  list-style: none;
}

.pagination a {
  display: block;
  padding: 0.5em;
  color: #377ba8;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.pagination a:hover {
  background-color: #6eb8de;
  color: #fff;
  border: 1px solid #6eb8de;
}

/* Style the search form */
.search-form {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.search-form input[type="text"] {
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-right: 1rem;
  flex: 1;
}

.search-form input[type="submit"] {
  padding: 0.5em;
  border: none;
  background-color: #377ba8;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.search-form input[type="submit"]:hover {
  background-color: #6eb8de;
  cursor: pointer;
}

/* Style the footer */
footer {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #666;
}

.hWoQvT {
  grid-area: Sidebar / Sidebar / Sidebar / Sidebar;
  border-right: solid 1px var(--color-border-grey);
  width: var(--current-sidebar-width);
  height: 100%;
  overflow-y: auto;
  transition: width 0.2s ease 0s, opacity 0.2s ease 0s, transform 0.2s ease 0s;
  transform: perspective(1000px);
  transform-origin: left center;
}

:root {
  --bg: #3C465C;
  --primary: #78FFCD;
  --solid: #fff;
  --btn-w: 10em;
  --dot-w: calc(var(--btn-w)*.2);
  --tr-X: calc(var(--btn-w) - var(--dot-w));
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}


.btnn {
  position: relative;
  margin: 0 auto;
  width: 10em;
  border: .15em solid #c4c4e0;
  border-radius: 5em;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  line-height: 2em;
  cursor: pointer;
  background: #c4c4e0;
  padding: 0;
}

.dot {
  content: '';
  position: absolute;
  top: 0;
  width: var(--dot-w);
  height: 100%;
  border-radius: 100%;
  transition: all 300ms ease;
}

.dot:after {
  content: '';
  position: absolute;
  left: calc(50% - .4em);
  top: -.4em;
  height: .8em;
  width: .8em;
  background: #c4c4e0;
  border-radius: 1em;
  border: .25em solid #fff;
  box-shadow: 0 0 .7em #fff,
    0 0 2em #c4c4e0;
}

.btnn:hover .dot,
.btnn:focus .dot {
  animation: atom 2s infinite linear;
}

@keyframes atom {
  0% {
    transform: translateX(0) rotate(0);
  }

  30% {
    transform: translateX(var(--tr-X)) rotate(0);
  }

  50% {
    transform: translateX(var(--tr-X)) rotate(180deg);
  }

  80% {
    transform: translateX(0) rotate(180deg);
  }

  100% {
    transform: translateX(0) rotate(360deg);
  }
}

.custom-class {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 2px;
}


@media (min-width: 2px) {
  .custom-class {
    margin: 0 auto;
  }
}

.sc-eXuyPJ {
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 700;
}


.jgsMkO {
  /* Add the styles for the jgsMkO class here */
  padding-left: 24px;
  padding-right: 24px;
  padding: 32px 0px 32px;
  display: flex;
  flex-direction: row;
}

.jgsMkO .sc-irKDMX:first-child {
  padding-left: 20px;
}

.jgsMkO .sc-irKDMX {
  flex: 1 1 0%;
  max-width: 2000px;
}

.kTTKRj {
  font-size: 20px;
  line-height: 18px;
  color: #dbdef8;
  margin-bottom: 16px;
}

.PkTTKRj {
  font-size: 40px;
  line-height: 18px;
  color: #dbdef8;
  margin-bottom: 30px;
}

.cwoGFd:not(:last-child) {
  border-right: 1px solid;
  color: #fafafa;
}

.cwoGFd {
  font-size: 28px;
  line-height: 32px;
  color: #fafafa;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding: 0px 28px;
  flex-direction: column;
}

.smaller-forms {
  width: 90%;
  margin: 0 auto;
}